@use "@styles/fonts.scss";
@use "@styles/colors.scss";

.container {
    padding: 10px;
}

.primaryText {
    text-align: center;
    color: colors.$dark-text;
    font-size: 14px;
    font-family: fonts.$poppins-regular, sans-serif;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
