@use "@styles/breakpoints.scss";
@use "@styles/fonts.scss";
@use "@styles/colors.scss";

.container {
    padding: 10px;
}

.primaryText {
    text-align: center;
    color: colors.$dark-text;
    font-size: 14px;
    font-family: fonts.$poppins-regular, sans-serif;
    margin-left: 1.5em;
    margin-right: 1.5em;

    @media (min-width: breakpoints.$desktop) {
        font-size: 18px;
    }
}

.sectionDescription {
    @media (min-width: breakpoints.$desktop) {
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 500px;
        & > p {
            margin-left: 0;
            padding-left: 0;
            text-align: left;
        }
    }
}

.startButtonsContainer {
    @media (min-width: breakpoints.$desktop) {
        width: 50% !important;
        max-width: 380px !important;
    }
}

.forTeachers {
    padding-top: 5em !important;
    padding-bottom: 0 !important;
}

.forStudents {
    padding-top: 0 !important;
    padding-bottom: 5em !important;
}

.startLessonsDescription {
    padding-bottom: 2em;
}

.blogImg {
    max-width: breakpoints.$large-desktop;
    width: 80%;
    margin-top: -100px;
}