@use "@styles/colors.scss";

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: colors.$white;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.columnReverse {
    flex-direction: column-reverse;
}

.row {
    flex-direction: row;
}

.rowReverse {
    flex-direction: row-reverse;
}

.allScreenHeight {
    height: 90vh;
}

// content aligment
.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}
