@use "@styles/colors.scss";

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: colors.$white;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.allScreenHeight {
    height: 100vh;
    padding: -100px 0;
}
