@use "@styles/breakpoints.scss";
@use "@styles/colors.scss";

.cookiesNotification {
    border-top: 5px solid colors.$light-grey;
    background-color: colors.$header-background;
    position: fixed;
    z-index: 2;
    bottom: 0px;
    width: 100%;
    padding: 1.5em;
}

.paragraph {
    margin-top: 0;
    font-size: 12px;

    @media (min-width: breakpoints.$desktop) {
        font-size: 16px;
        padding-right: 3em;
    }
}
