$white: #ffffff;
$black: #000000;
$orange: #f4c452;
$blue: #78d6f4;
$red: #fe6e6e;
$dark-red: #f86868;
$light-blue: #64D6FB;
$light-orange: #F8CE6A;
$light-red: #fa8080;
$grey: #d0d0d0;
$light-grey: #ecedec;
$lightest-grey: #f9f9f9;
$dark-grey: #aaaaaa;
$almost-white: #f5f5f5;
$lightest-blue: #91C9F1;

$light-background: $almost-white;
$grey-background: $light-grey;
$dark-grey-background: $grey;

$dark-text: #133742;

$border-blue: #68d0f1;
$border-orange: #eabc50;
$border-red: $red;
$border-white: $light-grey;
$border-grey: $dark-grey;
$hover-white: $almost-white;

$header-background: $lightest-grey;
