$white: #ffffff;
$black: #000000;
$orange: #f4c452;
$blue: #78d6f4;
$red: #fe6e6e;
$red-dark: #f86868;
$red-light: #fa8080;
$grey: #d0d0d0;
$light-grey: #ecedec;
$dark-grey: #d0d0d0;
$almost-white: #f5f5f5;

$light-background: $almost-white;
$grey-background: $light-grey;
$dark-grey-background: $dark-grey;

$dark-text: #133742;

$border-blue: #68d0f1;
$border-orange: #eabc50;
$border-white: $light-grey;
$border-grey: #aaaaaa;
$hover-white: $almost-white;

$header-background: #f9f9f9;
