@use "./colors.scss";
@use "./fonts.scss";

.orangeText {
    color: colors.$orange;
}

.darkText {
    color: colors.$dark-text;
}

.blueText {
    color: colors.$blue;
}

.redText {
    color: colors.$red;
}

.justifiedText {
    text-align: justify;
}

.centeredText {
    text-align: center;
}

.noPadding {
    padding: 0 !important;
}

.noMargin {
    margin: 0 !important;
}

.defaultHorizontalPadding {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.largeHorizontalPadding {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.lightestGreyBackground {
    background-color: colors.$light-background !important;
}

.lightGreyBackground {
    background-color: colors.$light-grey !important;
}

.headerGreyBackground {
    background-color: colors.$lightest-grey !important;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.centerFlex {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.sectionImg {
    padding: 3em 25%;
    width: 100%;
    max-height: 50%;
}

.basicHeader {
    text-align: center;
    padding: 1em;
    font-family: fonts.$rubik-one, sans-serif;
    text-transform: none;
    font-size: 24px;
}
