@font-face {
    font-family: "RubikOne";
    src: url("../assets/fonts/RubikOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-size: normal;
}

$rubik-one: "RubikOne";

@font-face {
    font-family: "PoppinsRegular";
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-size: normal;
}

$poppins-regular: "PoppinsRegular";

@font-face {
    font-family: "RobotoBlack";
    src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-size: normal;
}

$roboto-black: "RobotoBlack";
