@use "./colors.scss";
@use "./fonts.scss";
@use "./game-colors.scss";

@mixin basicHeader() {
    text-align: center;
    padding: 1em;
    text-transform: none;
    color: colors.$dark-text;
}

@mixin conditionalFont() {
    font-family: fonts.$rubik-one, sans-serif;

    [lang="el"] & {
        font-family: fonts.$roboto-black, sans-serif;
    }
}

@mixin buttonShadow($color) {
  box-shadow: 0 4px 0 $color;

    &.feedbackcorrect:not(.unchangable) {
        box-shadow: 
        0 4px 0 $color,
        0 0 16px 0 game-colors.$feedback-correct;
    }

    &.unchangable.feedbackcorrect {
        box-shadow: 0 0 16px 0 game-colors.$feedback-correct !important;
    }

    &.feedbackincorrect:not(.unchangable) {
        box-shadow: 
        0 4px 0 $color,
        0 0 16px 0 game-colors.$feedback-incorrect;
    }

    &.unchangable.feedbackincorrect {
        box-shadow: 0 0 16px 0 game-colors.$feedback-incorrect !important;
    }

}