@use "@styles/breakpoints.scss";

.label {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1.5em !important;
}

.labelFirst {
    padding-top: 0 !important;
}

.header {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 2em !important;
    padding-bottom: 0.25em !important;
}

.deleteSection {
    @media (min-width: breakpoints.$desktop) {
        max-width: 600px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.popupImg {
    padding: 1em 2em;
    max-width: 150px;

    @media (min-width: breakpoints.$desktop) {
        max-width: 250px;
        padding: 1em 3em;
    }
}