@use "@styles/colors.scss";
@use "@styles/fonts.scss";

.button {
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: fonts.$rubik-one, sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    border-bottom-width: 5px;
    text-wrap: nowrap;

    &:hover, &:active {
        transform: translateY(4px);
        box-shadow: none;
    }
}

.small {
    border-radius: 5px;
    border-width: 2px;
    border-bottom-width: 3px;
    font-size: 10px;
    padding: 5px 12px;
}

.desktopSmall {
    font-size: 12px;
    padding: 6px 14px;
    border-radius: 6px;
}

.orange {
    background-color: colors.$orange;
    color: colors.$white;
    border-color: colors.$border-orange;
    box-shadow: 0 4px 0 colors.$border-orange;

    &:hover {
        background-color: colors.$light-orange;
    }
}

.white {
    background-color: colors.$white;
    color: colors.$blue;
    border-color: colors.$border-white;
    box-shadow: 0 4px 0 colors.$border-white;

    &:hover {
        color: colors.$border-blue;
    }
}

.blue {
    background-color: colors.$blue;
    color: colors.$white;
    border-color: colors.$border-blue;
    box-shadow: 0 4px 0 colors.$border-blue;

    &:hover {
        color: colors.$light-grey;
        background-color: colors.$light-blue;
    }
}

.red {
    background-color: colors.$light-red;
    color: colors.$white;
    border-color: colors.$border-red;
    box-shadow: 0 4px 0 colors.$border-red;

    &:hover {
        background-color: colors.$dark-red;
    }
}

.selectedorange {
    background-color: colors.$border-orange;
    border-color: colors.$orange;
    color: colors.$light-grey;
    &:hover {
        color: colors.$white;
    }
}

.selectedwhite {
    background-color: colors.$lightest-grey;
    color: colors.$border-blue;
    border-color: colors.$grey;
}

.selectedblue {
    background-color: colors.$border-blue;
    border-color: colors.$blue;
    color: colors.$light-grey;
    &:hover {
        color: colors.$white;
    }
}

// types
.action {
    min-width: 300px;
}

