@use "@styles/breakpoints.scss";

.header {
    margin-top: 20vh;
}

.inputsContainer {
    display: flex;
    padding-top: 1em;
    width: 90%;
    justify-content: center;
    align-items: center;
    @media (min-width: breakpoints.$desktop) {
        padding-top: 2em;
    }

}

.button {
    @media (max-width: breakpoints.$mobile) {
        margin: 0.5em;
    }
}