@use "@styles/breakpoints.scss";
@use "@styles/colors.scss";
@use "@styles/fonts.scss";

.textInput {
    border: 1px solid colors.$grey;
    color: colors.$dark-text;
    border-radius: 5px;
    font-size: 14px;
    font-family: fonts.$poppins-regular, sans-serif;
    background-color: colors.$grey-background;
    padding: 5px 14px;
    height: 34px;
    width: 100%;
    
    &:disabled {
        cursor: not-allowed;
    }

    &:focus {
        border-color: colors.$dark-grey;
        outline: none;
    }

    @media (min-width: breakpoints.$desktop) {
        height: 50px;
        font-size: 20px;
    }
}
