@use "@styles/breakpoints.scss";
@use "@styles/colors.scss";
@use "@styles/game-colors.scss";
@use "@styles/fonts.scss";
@use "@styles/mixins.scss";

.button {
    border-radius: 4px;
    font-size: 32px;
    padding: 39px 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-width: 3px;
    border-style: solid;
    border-bottom-width: 5px;
    color: colors.$white;
    width: 100%;
    text-align: center;
    @include mixins.conditionalFont();

    &:not(.unchangable):hover, &:active, &:disabled {
        box-shadow: none;
    }

    &:not(.unchangable):hover, &:active {
        color: colors.$light-grey;
    }
    
    &:not(:disabled):hover,
    &:not(:disabled):active {
        transform: translateY(4px);
    }

    &:disabled {
        transform: translateY(0);
    }

    @media (min-width: breakpoints.$desktop) {
        font-size: 38px;
        border-radius: 10px;
        padding: 0 26px;
        height: 138px;
        border-radius: 10px;
    }
}

.noBoxShadow {
    border-bottom-width: 3px;
    transform: none !important;
    box-shadow: none !important;
}


.thin {
    padding-top: 14px;
    padding-bottom: 14px;
}

.orange {
    background-color: game-colors.$orange;
    border-color: game-colors.$dark-orange;
    @include mixins.buttonShadow(game-colors.$dark-orange);

    &:not(.unchangable):hover {
        background-color: colors.$light-orange;
    }
}

.blue {
    background-color: game-colors.$blue;
    border-color: game-colors.$dark-blue;
    @include mixins.buttonShadow(game-colors.$dark-blue);

    &:not(.unchangable):hover {
        background-color: colors.$light-blue;
    }
}

.red {
    background-color: game-colors.$red;
    border-color: game-colors.$dark-red;
    @include mixins.buttonShadow(game-colors.$dark-red);

    &:not(.unchangable):hover {
        background-color: colors.$dark-red;
    }
}

.green {
    background-color: game-colors.$green;
    border-color: game-colors.$dark-green;
    @include mixins.buttonShadow(game-colors.$dark-green);

    &:not(.unchangable):hover {
        background-color: game-colors.$dark-green;
    }
}

.white {
    background-color: game-colors.$white;
    border-color: game-colors.$dark-white;
    color: game-colors.$blue;
    @include mixins.buttonShadow(game-colors.$dark-white);

    &:not(.unchangable):hover {
        background-color: game-colors.$dark-white;
        color: game-colors.$blue;
    }
}

.selectedorange {
    background-color: game-colors.$dark-orange;
    border-color: game-colors.$dark-orange;
    color: colors.$light-grey;
}

.selectedblue {
    background-color: game-colors.$dark-blue;
    border-color: game-colors.$dark-blue;
    color: colors.$light-grey;
}

.selectedred {
    background-color: game-colors.$dark-red;
    border-color: game-colors.$dark-red;
    color: colors.$light-grey;
}

.selectedgreen {
    background-color: game-colors.$dark-green;
    border-color: game-colors.$dark-green;
    color: colors.$light-grey;
}

.selectedwhite {
    background-color: game-colors.$white;
    border-color: game-colors.$white;
    color: game-colors.$dark-blue;
}

.feedbackcorrect {
    background-color: game-colors.$feedback-correct;
    border-color: game-colors.$feedback-correct-dark;
    color: colors.$light-grey;
    @include mixins.buttonShadow(game-colors.$feedback-correct-dark);
    animation: blink 2.5s ease-in-out;

    &:not(.unchangable):hover {
        background-color: game-colors.$feedback-correct-dark;
    }
}

.feedbackincorrect {
    background-color: game-colors.$feedback-incorrect;
    border-color: game-colors.$feedback-incorrect-dark;
    color: colors.$light-grey;
    animation: bgFadeIn 500ms ease-in;
    @include mixins.buttonShadow(game-colors.$feedback-incorrect-dark);
    
    &:not(.unchangable):hover {
        background-color: game-colors.$feedback-incorrect-dark;
        color: colors.$light-grey;
    }
}

@keyframes blink {
	0%, 100% { background-color: game-colors.$feedback-correct; }
	20%, 80% { background-color: game-colors.$feedback-correct-dark; }
	40% { background-color: game-colors.$feedback-correct; }
}

@keyframes bgFadeIn {
	from { opacity: 0 }
	to { opacity: 1 }
}