@use "@styles/colors.scss";

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
        display: none;
    }

    .customCheckbox {
        width: 20px;
        height: 20px;
        border: 2px solid colors.$grey;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        color: colors.$grey;
        background-color: transparent;
        transition: background-color 0.2s, border-color 0.2s;

        input:checked + & {
            background-color: colors.$grey-background;
            border-color: colors.$grey;
        }
    }

    .label {
        margin-left: 8px;
        font-size: 16px;
        color: colors.$grey;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}
