.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin-bottom: -70px;
}

.viewer {
    width: 100%;
    margin-top: 50;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        margin-top: 100px;
    }
}
