@use "@styles/breakpoints.scss";

.container {
    display: flex;
    flex-direction: row;
    min-height: breakpoints.$max-height;
}

.viewer {
    width: 100%;
    margin-top: 50;
    display: flex;
    flex-direction: column;
}
