@use "@styles/colors.scss";

.selectInput {
    border: 1px solid colors.$grey;
    color: colors.$dark-text;
    border-radius: 5px;
    font-size: 14px;
    background-color: colors.$grey-background;
    padding: 5px;
    height: 34px;
    width: 100%;
    appearance: none; // Usuwa domyślny styl przeglądarki
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:focus {
        border-color: colors.$dark-grey;
        outline: none;
    }

    &::after {
        content: "▼";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none; // Kliknięcie na ikonę nie blokuje selecta
        color: colors.$dark-text;
        font-size: 12px;
    }
}

.error {
    color: colors.$red;
    border-color: colors.$red;
}